.crear {
    display: flex;
    background-color: #13B2B2;
    padding: 6px 10px;
    margin-bottom: 10px;
    width: 140px;
    border-radius: 20px;
    justify-content: center;
    
}
.linkCrear{
    text-decoration: none;
    color: white;
    align-content: center;
    justify-self: center;
  
}
.crear:hover {
    transform: scale(1.05);
  }