table {
  width: 100%;
  border-collapse: collapse; /* Asegura que los bordes se fusionen */
  background-color: #f9f9f9; /* Fondo blanco */
}

th,
td {
  border: 2px solid black; /* Bordes negros */
  padding: 10px; /* Espaciado interno */
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #e0e0e0; /* Gris claro para el encabezado */
  font-weight: bold;
}

td input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none; /* Quitar el estilo por defecto */
  background-color: #f9f9f9; /* Fondo gris */
  border: 2px solid black; /* Bordes negros */
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto; /* Centrar en la celda */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Cambiar el fondo cuando está marcado */
td input[type="checkbox"]:checked {
  background-color: #13b2b2; /* Cambiar a rojo cuando está activo */
  border: 2px solid black;
}

@media(max-width: 430px){
  table, thead, tbody, th, td, tr{
    display: block;
    
  }

  thead {
    display: none;
  }
  tr{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
  }
  td{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 0;
  }

  td::before {
    content: attr(data-label); 
    font-weight: bold;
    padding-right: 20px;
  }
  
  td input[type="checkbox"] { 
    margin: 0; 
  }


  
}
