.subTitle{
    text-align: left;
    border-bottom: solid 2px;  
    margin-top: 20px;
}
.containerGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.caracteristica{
    display: flex;
    align-items: center;
    
}
svg{
    color: #03adad;
}
.ItemC{
    padding-left: 12px;
    font-size: 17px;
    color: black;
    font-weight: 400;
    margin: 0;

}
.alquilar{
    background-color: #03adad;
    color: white;
    font-weight: bold ;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
   
}
.buttonAlquilar {
    display: flex;
    justify-content: flex-end; 
    
  }

@media(max-width: 480px){
    .containerGrid{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .buttonAlquilar{
       justify-content: center;
       margin-top: 30px;
        
    }

}