.card-category {
  display: flex; 
  align-items:center;
  background: #f9f9f9;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  
}
.img-category{
  padding-left: 10px;
  width: 50px;
  height: 50px;
  
}
.card-category:hover {
  transform: scale(1.05);
}

.card-category h2 {
  font-size: 13px;
  bottom: 0;
  background: #f9f9f9;
  color: #000000;
  text-align: center; 
  align-content: center;
  padding-left: 15px;  
  margin: 0; 
}

@media (max-width: 768px) {
  .card-category {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  }

  .card-category img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  .card-category h2 {
    font-size: 0.7 rem;
    height: 50px;
    text-align: center;
    width: auto;
    flex: 1;
  }
}

@media (max-width: 340px) {
  .card-category h2 {
    height: 50px;
    text-align: center;
    align-items: center;
    width: auto;
    flex: 1;
  }
}
