.footer {
  background-color: #242424;
  color: #fff;
  padding: 8px 0;
  width: 100%; /* Que ocupe todo el ancho */

} 
.logo{
  height: 50px;
}

.footer-content {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {

 
.footer-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

} 

.logo {
  height: 35px;
  width: auto;
  
}

.copyright {
  font-size: 14px;
} 
}
