.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Espaciado para que el footer se mantenga al fondo */
.main-content {
  flex-grow: 1;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 0; /* Agregar margen superior igual a la altura del header */
  padding: 2rem;
}
