header {
  background-color: #242424;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navBar {
  max-width: 1200px;
  height: 80px; /* Ajustable según necesidades */
  background-color: #242424; /* Color de fondo oscuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Espaciado lateral opcional */
  position: fixed; /* Fijar arriba si se desea */
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  color: #fff;
  padding: 5px 20px;
  text-decoration: none;
}

.login {
  background-color: #13b2b2;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .button {
    text-align: center;
  }
}
