
.containerHeader{
  padding: 15px 40px;
  background-color: #242424; 
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
.logoC{
  align-items: center;
}

.logoNav{
  width: 140px;
}

.navBar {
 
  background-color: #242424; /* Color de fondo oscuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.login {
  background-color: #13b2b2;
  border-radius: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra verticalmente */
  gap: 10px;
}

.button,
button {
  background-color: #13b2b2;
  color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  font-size: 15px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.user-icon {
  width: 35px;
  height: 35px;
  background-color: #13b2b2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon svg {
  color: white;
  font-size: 20px;
}

@media(min-width: 390px){
  .navBar{
    display: none;
  }
}

@media(min-width: 1000px){
 
  #menu_hambur{
      display: none;
  }
  .navBar{
    display: flex;
  }

}
