.contenedorEncabezado{
    display: flex;
    justify-content: space-between;
}
.containerDetail{
    display: flex;
    margin-top: 30px;
    gap: 30px;
   
}
.imgDetalle{
   max-width: 200px;
   padding-right: 40px;
}
.tituloDetalle{
    text-align: left;
}

.iconoFlecha{
    align-self: center;
    padding-right: 20px;
}

.containerText p {
    padding-bottom: 50px;
    text-align: justify;
}
h1{
    margin: 0;
}
 


@media(max-width: 480px){
    .containerDetail{
        flex-direction: column;
    }
    .imgDetalle{
        max-width: 200px;
        padding-bottom: 30px;
        padding-right: 0;
        align-self: center;
        
     }
     .containerImg{
        display: flex;
        justify-content: center;
    }
    
    

}