.card-container-category {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 1024px) {
  .card-container-category {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container-category {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 340px) {
  .card-container-category {
    padding: 0px;
  }
}
