.cont{
  text-align: center;
  padding-top: 5px;
}
.cont h4 {
  font-size: 20px;

}
.search-container {
  display: flex;
  align-items:center;
  margin: 50px auto;
  background-color: #f9f9f9;
  width: 600px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}
.search-container input{
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  background-color: #f9f9f9;
}
.inputBuscar{
  border-radius: 20px 0px 0px 20px;
  padding-left: 20px;
  background-color: red;
}

.buscador{
  border: 0;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
  background-color: #13b2b2;
  min-width: 30px;
  height: 40px;
 
}
/* Estilo del icono */
.search-icon {
  color: #000000;
  background-color: #03ADAD;
  width: 20px;
  
}

@media (max-width: 430px) {
  .cont h1 {
    font-size: 26px;

  }
  .cont h4 {
    font-size: 16px;
  }
  .search-container {
    width: 320px;
    height: 35px;
  
  }
  
}
