.cont{
  text-align: center;
  padding-top: 25px;
}
.cont h4 {
  font-size: 20px;

}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #d9d9d9;
  border-radius: 25px;
  /* padding: 5px; */
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del input */
.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 16px;
  width: 100%;
  background-color: #d9d9d9;
  color: black;
}

/* Estilo del icono */
.search-icon {
  color: #000000;
  padding: 11px 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  background-color: #03ADAD;
  font-size: 16px;
}

