
.search-bar {
  display: flex;
  align-items:center;
  margin: 50px auto;
  background-color: #f9f9f9;
  width: 600px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}
.search-bar input{
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  background-color: #f9f9f9;
}
.input-buscar{
 border-radius:20px 0px 0px 20px ;
 padding-left: 20px;
}


.buscador{
  border: 0;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
  background-color: #13b2b2;
  min-width: 30px;
  height: 40px;
 
}
/* Estilo del icono */
.search-icon {
  color: #f6f6f6;
  background-color: #03ADAD;
  width: 20px;
  
}
.suggestions {
  position: absolute;
  width: 600px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  border-radius: 10PX;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #daf2f2;
}

.react-datepicker__day--disabled {
  background-color: #ccc!important;
  color: rgb(255, 255, 255) !important;
  pointer-events: none;
}

.react-datepicker__day--in-range {
  background-color: #03adad!important;
}
.reserva{
  background-color: #03adad;
  max-width: 200px;
  max-height: 30px;
  border-radius: 20px;
  padding: 8px 35px;
  align-self: center;
  
}

@media (max-width: 430px) {
 
  .search-bar {
    width: 320px;
    height: 35px;
  
  }
  .suggestions {
    width: 320px;
  }
  
}
